## Demo funciones pandas

In [24]:
%pylab inline
# importando pandas usando la convención
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [29]:
# Cargar base de datos imdb de titulos de peliculas
titulos = pd.read_csv('data/titles.csv', encoding='utf-8' )
titulos.head()

                                   title  year
0                                 Mahler  1974
1           Ogon, voda i... mednye truby  1968
2  Ana Nojoom bent alasherah wamotalagah  2014
3                      Malu de Bicicleta  2010
4             Nazareno Apostol: Boy Ahas  1989

In [88]:
# Cargar base de datos de elenco de peliculas, de imdb
elenco = pd.read_csv('data/cast.csv', encoding='utf-8')
elenco.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
# Cuantas peliculas estan listadas en el dataframe de titulos?
len(titulos)

230407

In [5]:
# Cuales son las peliculas mas antiguas listadas en titulos?
titulos.sort_values('year').head()

                                                    title  year
13229                                          Miss Jerry  1894
103233                                 The Startled Lover  1898
133020     Reproduction of the Corbett and Jeffries Fight  1899
51528                                Family Troubles (II)  1900
195127  Pierrot's Problem, or How to Make a Fat Wife O...  1900

### Revisaremos comandos basicos pandas, sobre estas series

### Ejercicios

In [1]:
# Cuantas peliculas estan listadas por el nombre "Dracula" ?

In [2]:
# Titulos mas comunes en la historia filmografica

In [3]:
# Cual fue la primer pelicula hecha titulada "Romeo and Juliet" ?

In [4]:
# Listar todas las peliculas que contengan la palabra "Exorcist" 
# ordenadas de la mas vieja a la mas reciente.

In [5]:
# Cuantas peliculas fueron hechas en el año 1950?

In [6]:
# Cuantas peliculas fueron hechas en el año 1970?

In [7]:
# Cuantas peliculas fueron hechas de 1950 a 1959

In [8]:
# En que años alguna pelicula llamada "Batman" se presento

In [9]:
# Cuantos roles o papeles hubo en la pelicula "The Godfather"

In [10]:
# Cuantos papeles en la pelicula "The Godfather" no estan clasificados en algun valor "n"

In [11]:
# Cuantos papeles en la pelicula "The Godfather" si estuvieron clasificados con un valor "n"

In [12]:
# Mostrar el elenco completo de la pelicula "2001: A Space Odyssey" 
# ordenado por su clasificasión "n", ignorando los papeles que 
# no se les asigno ningun valor "n"

In [13]:
# Mostrar el elenco completo ordenado por la clasificacion "n"
# de la pelicula "Dracula" de 1958

In [14]:
# Cuantos papeles fueron listados en la pelicula "The Wizard of Oz" de 1939

In [15]:
# Cuantos papeles de "Bruce Wayne" han sido hechos en la historia 
# de las peliculas

In [16]:
# Cuanta gente ah hecho el papel de "Romeo"

In [17]:
# Cuantos papeles ah hecho "Robert De Niro" en su carrera

In [18]:
# Listado de papeles de soporte que tuvo el actor "Charlton Heston" en
# la decada de los 50's, ordenado por año

In [19]:
# Listado de papeles como protagonista que tuvo el actor "Charlton Heston" en
# la decada de los 60's, ordenado por año de forma descendente

In [20]:
# ¿Cuantos papeles para actores hubo en la decada de los 50's?

In [21]:
# ¿Cuantos papeles para actrices hubo en la decada de los 50's ?

In [22]:
# ¿Cuantos papeles protagonicos existen desde el principio de
# la historia filmatografica hasta 1970 ?