### Pandas demo segunda parte

In [1]:
%pylab inline
import pandas as pd

Populating the interactive namespace from numpy and matplotlib

In [2]:
elenco = pd.read_csv('data/cast.csv', encoding='utf-8')
elenco.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [ ]:
# Graficar la diferencia entre el numero de papeles 
# para actores cada año y el numero de papeles para actrices
# cada año en la historia de la filmografia

In [1]:
# Graficar en numero de papeles de actores cada año
# y el numero de papeles para actrices cada año

In [2]:
# El mismo grafico anterior pero categorizado por decada y
# con un grafico de area

In [3]:
# Graficar el porcentaje de papeles que han sido 
# actores cada año en la historia de la filmografia

In [4]:
# Graficar el porcentaje de papeles que han sido 
# actores cada año en la historia de la filmografia
# junto al mismo porcentaje pero de actrices

In [5]:
# Graficar 3 lines con clasificacion "n" de 1 al 3 donde cada 
# linea represente el porcentaje de la clasificacion para 
# los papeles de actores en cada año.

In [6]:
# Encontrar las 5 peliculas de la historia tengan mas
# actrices que actores